*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #dd3e54, #6be585);
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .3);
    padding: 28px;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
    width: 90%;
    margin: 16px;
    max-width: 450px;
    font-size: 18px;
    font-weight: 500;
}
.heading{
    font-size: 36px;
    margin-bottom: 16px;
}
.input{
    height: 53px;
    width: 90%;
    background-color: rgba(255, 255, 255, .6);
    border-color: rgba(255, 255, 255, .4);
    border-radius: 7px;
    font-size: 20px;
    padding: 0 42px;
    margin-bottom: 5px;
    outline: none;
}
.meaning-container{
    display: none;
    font-size: 18px;
    padding: 10px;
}
.meaning-container p{
    margin: 10px;
}
.info-text{
    margin: 10px;
    font-weight: 400;
    word-spacing: 0px;
}
audio{
    margin-top: 16px;
    width: 200px;
}